@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@font-face {
	font-family: 'Booter';
	src: url('Booter.ttf');
  }
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#background-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: -1;
}
body {
	min-width: 1200px;
	min-height: 1200px;
	position: relative;
	font-family: 'Montserrat';
	overflow: hidden;
}
#background{
	background-image: url(tlwcount.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #b1aeae;
	background-size: cover;
	width: 1920px;
	height: 1080px;
	position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
button {
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	color: white;
	transition: 0.2s all ease-in-out;
}
button:hover {
	color: #f79415;
}

.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

header {
	margin-bottom: 1.5rem;
}
.pomodoro-timer {
	width: 500px;
	min-width: 300px;
	padding: 0rem;
	position: absolute;
    z-index: 2;
    right: 270px;
    top: 20px;
}
.pomodoro-timer .timer #timer-label {
	color: #f79415;
	font-weight: bolder;
}
.pomodoro-timer .timer #time-left {
	font-size: 5.4rem;
	text-align: center;
	font-weight: bolder;
}
.pomodoro-timer .timer #time-in {
	font-size: 5.4rem;
	text-align: center;
	font-weight: bolder;
	color: red;
}
.pomodoro-timer .controls {
	margin: 1rem 0 2.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
}
.pomodoro-timer .controls #start_stop {
	font-size: 1.8rem;
	width: 4rem;
	height: 4rem;
	background-color: #f79415;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pomodoro-timer .controls #start_stop:hover {
	opacity: 0.8;
	color: white;
}
.pomodoro-timer .controls #start_stop.active .fa-play {
	display: none;
}
.pomodoro-timer .controls #start_stop.active .fa-pause {
	display: block;
}
.pomodoro-timer .controls #start_stop .fa-play {
	display: block;
}
.pomodoro-timer .controls #start_stop .fa-pause {
	display: none;
}
.pomodoro-timer .duration-setting {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}
.pomodoro-timer .duration-setting .setting {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 45%;
	padding: 0.5rem;
	border-radius: 10px;
	background-color: rgba(61, 67, 102, 0.8);
}
.pomodoro-timer .duration-setting .setting .label {
	flex-basis: 100%;
	text-align: center;
	font-size: 0.9rem;
	color: #f79415;
	margin-bottom: 0.5rem;
}
.pomodoro-timer .duration-setting .setting #break-length, .pomodoro-timer .duration-setting .setting #session-length {
	margin: 0 0.5rem;
	font-size: 1.8rem;
}

#admin-body{
	min-width: 1200px;
    min-height: 1200px;
    position: relative;
    font-family: 'Montserrat';
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.pomodoro-timer-admin{
	width: 500px;
	min-width: 300px;
	padding: 2rem;
    background-color: black;
    border: 2px solid white;
}
.pomodoro-timer-admin .timer #timer-label {
	color: #f79415;
	font-weight: bolder;
}
.pomodoro-timer-admin .timer #time-left {
	font-size: 5.4rem;
	text-align: center;
	font-weight: bolder;
}
.pomodoro-timer-admin .timer #time-in {
	font-size: 5.4rem;
	text-align: center;
	font-weight: bolder;
	color: red;
}
.pomodoro-timer-admin .controls {
	margin: 1rem 0 2.5rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
}
.pomodoro-timer-admin .controls #start_stop {
	font-size: 1.8rem;
	width: 4rem;
	height: 4rem;
	background-color: #f79415;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pomodoro-timer-admin .controls #start_stop:hover {
	opacity: 0.8;
	color: white;
}
.pomodoro-timer-admin .controls #start_stop.active .fa-play {
	display: none;
}
.pomodoro-timer-admin .controls #start_stop.active .fa-pause {
	display: block;
}
.pomodoro-timer-admin .controls #start_stop .fa-play {
	display: block;
}
.pomodoro-timer-admin .controls #start_stop .fa-pause {
	display: none;
}
.pomodoro-timer-admin .duration-setting {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
}
.pomodoro-timer-admin .duration-setting .setting {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: 45%;
	padding: 0.5rem;
	border-radius: 10px;
	background-color: rgba(61, 67, 102, 0.8);
}
.pomodoro-timer-admin .duration-setting .setting .label {
	flex-basis: 100%;
	text-align: center;
	font-size: 0.9rem;
	color: #f79415;
	margin-bottom: 0.5rem;
}
.pomodoro-timer-admin .duration-setting .setting #break-length, .pomodoro-timer .duration-setting .setting #session-length {
	margin: 0 0.5rem;
	font-size: 1.8rem;
}

.spot {
	display: flex;
	justify-content: center;
}

.upload {
	--btn-color: #3bafda;
	--progress-color: #2d334c;
	--ease-in-out-quartic: cubic-bezier(0.77, 0, 0.175, 1);
	position: relative;
	display: flex;
	justify-content: space-between;
	background: white;
	font-family: Roboto, sans-serif;
	border-radius: 10px;
	box-shadow: 0 1.7px 1.4px rgba(0, 0, 0, 0.02), 0 4px 3.3px rgba(0, 0, 0, 0.028), 0 7.5px 6.3px rgba(0, 0, 0, 0.035), 0 13.4px 11.2px rgba(0, 0, 0, 0.042), 0 25.1px 20.9px rgba(0, 0, 0, 0.05), 0 60px 50px rgba(0, 0, 0, 0.07);
	overflow: hidden;
	transform: rotate(0);
}
.upload__info {
	display: flex;
	align-items: center;
	padding: 16px;
	margin-right: 40px;
	cursor: pointer;
}
.upload__filename {
	padding-left: 8px;
}
.upload__button {
	position: relative;
	padding: 16px;
	margin: 0;
	font-size: 100%;
	font-family: inherit;
	color: white;
	background: none;
	border: none;
	border-radius: inherit;
	outline: none;
	cursor: pointer;
	transform: scale(0.9);
}
.upload__button:hover {
	color: #343230;
}

.upload__button::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--btn-color);
	border-radius: inherit;
	transform-origin: right;
}
.upload__hint {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	transform: translateY(100%);
}
.upload__progress {
	position: absolute;
	content: "";
	top: 90%;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
	background: var(--progress-color);
	transform: scaleX(0);
	transform-origin: left;
}
.upload__progress .check {
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	margin-right: 6px;
}
.upload.uploading .upload__button {
	animation: expand 0.3s forwards;
}
.upload.uploading .upload__button::before {
	animation: fill-left 1.2s 0.4s var(--ease-in-out-quartic) forwards;
}
.upload.uploading .upload__info > *, .upload.uploading .upload__button__text {
	animation: fade-up-out 0.4s 0.4s forwards;
}
.upload.uploading .upload__hint {
	animation: fade-up-in 0.4s 0.8s forwards;
}
.upload.uploading .upload__progress {
	animation: fill-right 2s 1s var(--ease-in-out-quartic) forwards;
}
.upload.uploaded .upload__progress {
	animation: slide-up 1s var(--ease-in-out-quartic) forwards;
}
.upload.uploaded .upload__progress .check {
	animation: stroke-in 0.6s 0.4s var(--ease-in-out-quartic) forwards;
}
.upload.uploaded-after .upload__info {
	animation: slide-down-info 1s var(--ease-in-out-quartic) forwards;
}
.upload.uploaded-after .upload__button {
	animation: slide-down-button 1s var(--ease-in-out-quartic) forwards;
}
.upload.uploaded-after .upload__progress {
	animation: slide-down-progress 1s var(--ease-in-out-quartic) forwards;
}
@keyframes expand {
	to {
		transform: scale(1);
   }
}
@keyframes fill-left {
	to {
		transform: scale(5, 1.2);
   }
}
@keyframes fade-up-out {
	to {
		opacity: 0;
		transform: translateY(-40%);
   }
}
@keyframes fade-up-in {
	to {
		opacity: 1;
		transform: translateY(0);
   }
}
@keyframes fill-right {
	to {
		transform: scaleX(1);
   }
}
@keyframes slide-up {
	from {
		transform: scaleX(1) translateY(0);
   }
	to {
		transform: scaleX(1) translateY(-90%);
   }
}
@keyframes stroke-in {
	to {
		stroke-dashoffset: 0;
   }
}
@keyframes slide-down-info {
	from {
		transform: translateY(-100%);
   }
	to {
		transform: translateY(0);
   }
}
@keyframes slide-down-button {
	from {
		transform: scale(0.9) translateY(-100%);
   }
	to {
		transform: scale(0.9) translateY(0);
   }
}
@keyframes slide-down-progress {
	from {
		transform: scaleX(1) translateY(-90%);
   }
	to {
		transform: scaleX(1) translateY(10%);
   }
}